<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="zanac.MAmidiMEmo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="zanac.mamidimemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <zanac.MAmidiMEmo.Properties.Settings>
            <setting name="MidiIF" serializeAs="String">
                <value />
            </setting>
            <setting name="EnvironmentSettings" serializeAs="String">
                <value />
            </setting>
        </zanac.MAmidiMEmo.Properties.Settings>
        <zanac.mamidimemo.Properties.Settings>
            <setting name="MidiIF" serializeAs="String">
                <value />
            </setting>
            <setting name="YM2151" serializeAs="String">
                <value />
            </setting>
            <setting name="YM2612" serializeAs="String">
                <value />
            </setting>
            <setting name="GB_APU" serializeAs="String">
                <value />
            </setting>
            <setting name="SN76496" serializeAs="String">
                <value />
            </setting>
            <setting name="NAMCO_CUS30" serializeAs="String">
                <value />
            </setting>
            <setting name="RP2A03" serializeAs="String">
                <value />
            </setting>
        </zanac.mamidimemo.Properties.Settings>
    </userSettings>
</configuration>